$dropdown-bg: #fff;
$dropdown-border: rgba(0, 0, 0, 0.15);
$dropdown-shadow: rgba(0, 0, 0, 0.175);
$dropdown-text: #212529;
$dropdown-text-hover: #16181b;
$dropdown-bg-hover: #f8f9fa;
$font: 'Comfortaa', cursive;

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-border;
  color: $dropdown-text;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 0.25rem;
  cursor: pointer;
  &:hover {
    background-color: $dropdown-bg-hover;
    border-color: $dropdown-border;
    color: $dropdown-text-hover;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 125%;
  left: -106px;
  z-index: 1;
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-border;
  border-top: none;
  padding: 8px 0;
  min-width: 160px;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem $dropdown-shadow;
}

.dropdown-menu a {
  display: block;
  color: $dropdown-text;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
}

.dropdown-menu a:hover {
  background-color: $dropdown-bg-hover;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: $dropdown-text;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-family: $font;

  &:hover,
  &:focus {
    color: $dropdown-text;
    text-decoration: none;
    background-color: $dropdown-bg-hover;
  }
}

.show {
  display: block;
}
