<div class='dropdown'>
  <button class='dropdown-toggle'><img
      src={{img}}
      alt={{alt}}
      class={{class}}
    /></button>
  <div class='dropdown-menu'>
    <a href='#'>Delete chat</a>
  </div>
</div>
