<div class='hbs__page'>
  {{{page}}}
  {{!-- <div>{{{name}}}</div> --}}
  {{!-- <div>{{> Login Button}}</div>
    <div>{{> Registr Button=btn}}</div>
    <div class="error">{{> NotFound}}</div>
    <div class="error">{{> ServerError}}</div>
    <div>{{> Chat}}</div> --}}
</div>