$link-color: rgb(17, 125, 248);
$invalid-color: red;
$font: 'Comfortaa', cursive;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font;
}

a:active,
a {
  text-decoration: none;
  color: $link-color;
}

.wrapper {
  margin: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  margin: 30px;
}
