{{#each chats}}
  <div class='chat-element'>
    <li class='chat-item' id={{this.id}}>
      {{!-- {{{avatar}}} --}}
      <img src={{this.src}} />
      <span>
        {{this.title}}
      </span>
    </li>
  </div>

{{/each}}
