$font: 'Comfortaa', cursive;

.auth {
  width: 340px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  padding-top: 50px;
  outline: solid rgba(128, 128, 128, 0.167);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 0.5em;
  text-align: center;
  font-family: $font;
}

.auth-txt {
  font-size: 20px;
  margin-bottom: 30px;
  color: rgb(109, 109, 109);
}

.auth-input {
  font-size: 13px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 0.3em;
  border-color: rgba(109, 109, 109, 0.295);
}

.auth-input:focus {
  outline: #3369f3 solid 2px;
  border-color: #3369f3;
}

.login-text {
  font-size: 8px;
  color: red;
  display: none;
}

.wrapper__form {
  display: flex;
  flex-direction: column;
}
