$font: 'Comfortaa', cursive;
$inputFocusColor: #3369f3;
$textColor: rgb(109, 109, 109);
$shadowColor: rgba(34, 60, 80, 0.2);
$borderColor: rgba(109, 109, 109, 0.295);
$outlineColor: rgba(128, 128, 128, 0.167);
$invalidColor: red;

.auth {
  width: 340px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  padding-top: 50px;
  outline: solid $outlineColor;
  box-shadow: 4px 4px 8px 0px $shadowColor;
  border-radius: 0.5em;
  text-align: center;
  font-family: $font;
}

.auth-txt {
  font-size: 20px;
  color: $textColor;
}

.auth-input {
  font-size: 13px;
  padding: 5px;
  margin-top: 15px;
  border-radius: 0.3em;
  border-color: $borderColor;
}

.auth-input:focus {
  outline: $inputFocusColor solid 2px;
  border-color: $inputFocusColor;
}

.wrapper__form {
  display: flex;
  flex-direction: column;
}

.for-error {
  font-size: 8px;
  color: $invalidColor;
  vertical-align: top;
  display: none;
}

.error {
  border-color: $invalidColor;
}
