$font: 'Comfortaa', cursive;
$inputFocusColor: #3369f3;
$textColor: rgb(109, 109, 109);
$shadowColor: rgba(34, 60, 80, 0.2);
$borderColor: rgba(109, 109, 109, 0.295);
$outlineColor: rgba(128, 128, 128, 0.167);

.registr {
  width: 340px;
  height: 615px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  padding-top: 50px;
  outline: solid $outlineColor;
  box-shadow: 4px 4px 8px 0px $shadowColor;
  border-radius: 0.5em;
  text-align: center;
  font-family: $font;
}

.registr-txt {
  font-size: 20px;
  color: $textColor;
}

.registr-input {
  font-size: 13px;
  padding: 5px;
  margin-top: 15px;
  border-radius: 0.3em;
  border-color: $borderColor;
}

.registr-input:focus {
  outline: $inputFocusColor solid 1px;
  border-color: $inputFocusColor;
}

.pass-text {
  font-size: 8px;
  color: red;
  display: none;
}
