<nav class='links'>
  <a href='#/login'>Login</a>
  <a href='#/registration'>Registration</a>
  <a href='#/profile'>Profile</a>
  <a href='#/404'>Page not found</a>
  <a href='#/500'>Server error</a>
  <a href='#/chat'>Chat</a>

</nav>

<img class='avatar' />

<form action='#/profile' class='pass__edit'>
  <table class='profile__list'>
    <thead>
      <tr>
        <th colspan='2'>Изменение пароля</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Старый пароль</td>
        <td>
          <input
            type='password'
            class='input'
            name='oldPassword'
            value='oldPass'
          />
        </td>
      </tr>
      <tr>
        <td>Новый пароль</td>
        <td>
          <input
            type='password'
            class='input'
            name='newPassword'
            value='newPassword'
          />
        </td>
      </tr>
      <tr>
        <td>Повторите новый пароль</td>
        <td>
          <input type='password' class='input' name='' value='newPassword' />
        </td>
      </tr>

    </tbody>
  </table>

  <div class='wrapper__form wrapper-btn'>
    {{{button}}}
  </div>
</form>
