<a href='#/avatar'>
  <img class='avatar' alt='Аватар' src='' />
</a>
<table class='profile__list'>
  <thead>
    <tr>
      <th colspan='2'>Иван</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Почта</td>
      <td>ivan@mail.mu</td>
    </tr>
    <tr>
      <td>Логин</td>
      <td>ivan</td>
    </tr>
    <tr>
      <td>Имя</td>
      <td>Иван</td>
    </tr>
    <tr>
      <td>Фамилия</td>
      <td>Иванов</td>
    </tr>
    <tr>
      <td>Имя в чате</td>
      <td>Иван</td>
    </tr>
    <tr>
      <td>Телефон</td>
      <td>+7(999) 999 99 99</td>
    </tr>
  </tbody>
</table>

<nav class='profile__nav'>
  {{{settings}}}
  {{{password}}}
  {{{chat}}}
  {{{logout}}}
</nav>
