<nav class='links'>
  <a href='#/login'>Login</a>
  <a href='#/registration'>Registration</a>
  <a href='#/profile'>Profile</a>
  <a href='#/404'>Page not found</a>
  <a href='#/500'>Server error</a>
  <a href='#/chat'>Chat</a>

</nav>

<a href='#/avatar'>
  <img class='avatar' alt="Аватар" src="noAvatar.png"/>
</a>
<table class='profile__list'>
  <thead>
    <tr>
      <th colspan='2'>Иван</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Почта</td>
      <td>ivan@mail.mu</td>
    </tr>
    <tr>
      <td>Логин</td>
      <td>ivan</td>
    </tr>
    <tr>
      <td>Имя</td>
      <td>Иван</td>
    </tr>
    <tr>
      <td>Фамилия</td>
      <td>Иванов</td>
    </tr>
    <tr>
      <td>Имя в чате</td>
      <td>Иван</td>
    </tr>
    <tr>
      <td>Телефон</td>
      <td>+7(999) 999 99 99</td>
    </tr>
  </tbody>
</table>

<nav class='profile__nav'>
  <a href='#/editprofile'>Изменить данные</a>
  <a href='#/editpassword'>Изменить пароль</a>
  <a href='#/chat' class='exit-link'>Выйти</a>
</nav>
