<h2>Страница в разработке</h2>
<nav class='links'>
  <a href='#/login'>Login</a>
  <a href='#/registration'>Registration</a>
  <a href='#/profile'>Profile</a>
  <a href='#/404'>Page not found</a>
  <a href='#/500'>Server error</a>
</nav>
