<h2>Страница в разработке</h2>
<div class='links'>
  <a href='#/login'>Login</a>
  <a href='#/registration'>Registration</a>
  <a href='#/404'>Page not found</a>
  <a href='#/500'>Server error</a>

</div>